Требуются файлы:

main.py - основной файл

в переменную tokenvk - добавить токен VK
в переменную tokenya - добавить токен Yandex

vk.py - модуль который отрабатывает взаимодействие с VK

yandex.py - модуль который отрабатывает взаимодействие с Я-Диском

request_code.py - модуль который отрабатывает коды ошибок модуля Request

filename.json - пример JSON фала полученного при исполнении программы для ID 1 (Страницы Вконтакте Павла Дурова)

Используются стандартные библиотеки Python:

time, requests, json

